.Login {
  display: flex;
  flex-direction: column;
  width: 30%;
  color: whitesmoke;

  p {
    font-size: 35px;
  }

  input {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 25px;
    width: 200px;
    font-size: 12px;
    &:focus-visible {
      outline: none;
    }
  }

  button {
    margin-top: 10px;
    padding: 5px;
    width: 100px;
    border-radius: 20px;
    border: 0;
    cursor: pointer;
    color: grey;

    &:focus, &:hover {
      color: black !important;
    }
  }
}