.TopBar {
  border-bottom: 1px solid white;
  height: 80px;
  color: whitesmoke;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 20px;

  .RemoveLinkStyle {
    color: whitesmoke;
    text-decoration: none;
  }

  .Logo {
    font-size: 30px;
    margin: 0;
    .RemoveLinkStyle
  }

  ul {
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    a {.RemoveLinkStyle}
    li {
      padding: 10px;
      img {
        width: 40px !important;
        height: 40px !important;
        border-radius: 20px;
      }
    }
  }
}